* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #eafaf1;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.container {
  max-width: 73.6875rem;
  margin-inline: auto;
}

.navigation__menu-group-right-black {
  color: black;
}

.navigation__menu-group-right-sign {
  height: 35.2px;
  border: 2px solid #00ad6a;
  padding-inline: 16px;
  padding-block: 4px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-inline: 24px;
  padding-block: 48px;
  
}

.navigation > .navigation__menu-group {
  display: flex;
  font-weight: 700;
  gap: 40px;
  padding-left: 0px;
  margin-block: 0px;
  list-style: none;
  text-align: center;
  color: #00ad6a;
}

.navigation__menu-group-left {
  background-color:  #00ad6a;
  width: 119px;
  height: 49px;
}

.section__title {
  margin-bottom: 40px;
  padding-inline: 24px;
  padding-bottom: 40px;
}

.section__maintitle {
  font-weight: 900;
  text-align: center;
  font-size: 60px;
  margin-block: 0;
  letter-spacing: -3px;
}

.section__subtitle {
  text-align: center;
  margin-top: 16px;
  font-size: 18px;
}

.section__box {
  margin-inline: -16px;
  width: 1163px;
  display: flex;
  justify-content: space-evenly;
  -ms-flex-item-align: center;
}

.section__box-left {
  padding-inline: 24px;
  margin-top: 120px;
}

.section__box-left-subtitle {
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 173, 106);
  margin-bottom: 16px;
}

.section__box-left-bottom {
  width: ;
  font-weight: 300;
}

.underline {
  text-decoration: underline;
}

.section__box-right {
  margin-left: -36px;
  height: 620px;
}

.section__box-right-top {
  padding-inline: 32px;
  padding-top: 20px;
  padding-bottom: 24px;
  background-color: #f2f3f3;
  border-bottom: 1px solid #abadb4;
  color: rgb(70, 73, 81);
}

.section__box-right-bottom {
  color: #464951;
  text-align: left;
  list-style: none;
}

.section__box-right-bottom-1 {
  padding-block: 8px;
  padding-inline: 20px;
}

.section__box-right-bottom-2 {
  padding-block: 8px;
  padding-inline: 20px;
}

.section__box-right-bottom-3 {
  padding-top: 8px;
  padding-bottom: 24px;
  padding-inline: 20px;
}


.section__box-right {
  margin-top: 50px;
  height: 600px;
  margin-bottom: 40px;
  text-align: center;
  background-color: #fcfcfc;
  border-bottom: 1px solid  #abadb4;
  border-top: 1px solid #abadb4;
  border-right: 1px solid #abadb4;
  border-left: 1px solid #00ad6a;
}

.section__box-center {
  background-color: #fcfcfc;
  height: 700px;
  border: 1px solid #00ad6a;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.section__box-right-center-1 {
  color: rgb(0, 173, 106);
  margin-top: 40px;
  font-size: 36px;
  font-weight: 400;
}

.section__box-right-center-2 {
  color: rgb(131, 133, 138);
  margin-top: 8px;
  margin-bottom: 24px;
  padding-left: 8px;
  font-size: 24px;
  font-weight: 400;
}

.section__box-right-center-3 {
  padding-inline: 32px;
  padding-top: 8px;
  padding-bottom: 12px;
  margin-bottom: 32px;
  margin-left: 90px;
  font-size: 20px;
  font-weight: 900;
  width: 190px;
  height: 50px;
  text-align: center;
  background-color: #1fe374;
  color: rgb(70, 73, 81);
}

.section__box-right-center-4 {
  color: rgb(70, 73, 81);
  font-size: 12px;
  font-weight: 700;
}

.section__box-center-top {
  width: 386.125px;
  text-align: center;
  padding-block: 4px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #00ad6a;
  color: #eafaf1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.section__box-center-center-1 {
  width: 386.125px;
  text-align: center;
  line-height: 103%;
  margin-top: 38px;
  font-size: 48px;
  font-weight: 700;
  color: #00ad6a;
  padding-inline: 16px;
}

.section__box-center-center-2 {
  width: 386.125px;
  text-align: center;
  color: rgb(131, 133, 138);
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.section__box-center-center-3 {
  width: 190px;
  height: 50px;
  text-align: center;
  color: rgb(70, 73, 81);
  font-size: 20px;
  font-weight: 900;
  background-color: #1fe374;
  padding-top: 8px;
  margin-left: 100px;
  margin-bottom: 32px;
}

.section__box-center-center-4 {
  text-align: center;
  color: rgb(70, 73, 81);
  font-size: 12px;
  font-weight: 700;
}

.section__box-center-bottom-1 {
  font-weight: 300;
  width: 330.112px;
  height: 59.2px;
  padding-block: 8px;
  padding-inline: 20px;
}

.section__box-center-bottom-2 {
  font-weight: 300;
  width: 330.112px;
  height: 88px;
  padding-block: 8px;
  padding-inline: 20px;
}

.section__box-center-bottom-3 {
  font-weight: 300;
  width: 330.112px;
  height: 59.2px;
  padding-block: 8px;
  padding-inline: 20px;
}

.section__box-center-bottom-4 {
  font-weight: 300;
  width: 330.112px;
  height: 59.2px;
  padding-top: 8px;
  margin-bottom: 50px;
  padding-inline: 20px;
}